* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 5fr;
}

.menu {
  grid-row: 1 / 3;
  background-color: rgb(143, 71, 80);
  color: white;
  font-weight: 700;
}

.menu > .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-right: 3rem;
  padding-left: 0.3rem;
}

.menu > .title > a,
.menu > .title > a+h1 > a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.menu > .title > a > img {
  width: 3.5rem;
  height: 3.5rem;
}

.menu > div > div > a > img {
  width: 1.5rem;
}

.menu > div > div > a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.menu > .set1,
.menu > .set2 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 2vh 3.5vw 0 1rem;
}

/* ------------------------------------------------------------- */

.container > .header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 5fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  box-shadow: 0 5px 20px rgb(119, 119, 119);
}

.header > div > label > img {
  width: 50%;
  height: 25%;
  position: relative;
  left: 40%;
}

.header > .searchBar {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  margin-left: 3vw;
  gap: 5px;
}

.header > .searchBar > input {
  border-radius: 15px;
  background-color: rgb(175, 172, 172);
  width: 100%;
  height: 25%;
  padding-left: 1vw;
}

.header > .notifications {
  display: grid;
  justify-items: end;
  align-items: center;
}

.header > .notifications > img {
  width: 20%;
}

.header > .profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
  margin-left: 1vw;
}

.header > .profile > img {
  width: 5rem;
  border-radius: 60%;
}

.header > .status {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 3vw;
}

.header > .status > img {
  grid-row: 1 / 3;
  width: 6rem;
}

.header > .status > p {
  display: flex;
  align-items: end;
  font-weight: bold;
}

.header > .new {
 position: relative;
 display: grid;
 grid-template-columns: 1fr;
 align-items: center;
}

.header > .new > button {
  position: absolute;
  right: 0;
}

.header > .new > button,
.header > .uploadAndShare > button {
  background-color: #1e40af;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
}

.header > .uploadAndShare {
  margin-left: 1vw;
  margin-right: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1vw;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2vh 1vh;
  gap: 1vh;
  background-color: #e2e8f0;
}

.main > .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(3, 12fr);
  gap: 2vh;
}

.main > .news {
  display: grid;
  grid-template-rows: 1fr 8.6fr 1fr 8.6fr;
}

.main > .projects > .title {
  grid-column: 1 / 3;
}

.main > .projects > .project {
  border-radius: 1rem;
  border-left: 0.5rem solid orange;
  background-color: white;
  padding: 10% 20% 10% 10%;
  position: relative;
}

.project > .description > h3 {
  margin-bottom: 0.5rem;
}

.project > .description > p {
  color: rgb(104, 103, 103);
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
  position: absolute;
  bottom: 1.4rem;
  right: 1rem;
}

.buttons > img {
  width: 1.5rem;
}

.buttons > img:nth-child(1):hover {
  cursor: pointer;
  background-image: url(img/Star-full.svg);
}

.buttons > img:nth-child(2):hover {
  cursor: pointer;
  background-image: url(img/Eye-full.svg);
}

.buttons > img:nth-child(3):hover {
  cursor: pointer;
}

.news > .announcements,
.news > .trending {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.news > h3+ div + h3 {
  display: flex;
  align-items: end;
  margin-bottom: 0.5rem;
}

.news > .announcements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.news > .announcements > .details:nth-child(1),
.news > .announcements > .details:nth-child(2) {
  border-bottom: 1px solid gray;
  padding: 0 0.4rem 1rem 0.4rem;
}

.news > .announcements > .details > h4 {
  margin-bottom: 0.2rem;
}
.news > .announcements > .details > h4+p {
  color: rgb(90, 88, 88);
  font-size: 0.8rem;
}

.news > .trending {
  display: grid;
}

.news > .trending > .trend {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.news > .trending > .trend > img {
  height: 4rem;
}